version: "3.8"

name: tripy_ai

services:
  # 1. FastAPI 서버
  tripy_fastapi:
    # [수정 1] build는 주석 처리하거나 둬도 되지만, image 이름이 제일 중요합니다!
    # "아이디/이미지이름:태그" 형식이어야 도커 허브에서 받아옵니다.
    image: mic006016/tripy-ai:latest
    
    container_name: fastapi
    ports:
      - "8000:8000"
    networks:
      - aiserver
    # [서버의 모델 폴더] : [컨테이너 내부 경로]
    volumes:
      - ./model:/app/model
    
    env_file:
      - .env
    
    # 서버 꺼지면 자동으로 다시 켜기 (필수)
    restart: unless-stopped
   
  # 3. ChromaDB (그대로 유지)
  tripy_chroma:
    image: chromadb/chroma:latest
    container_name: chroma
    networks:
      - aiserver
    ports:
      - "8001:8000" 
    volumes:
      - chroma_storage:/chroma/chroma 
    restart: unless-stopped

networks:
  aiserver:
    driver: bridge

volumes:
  chroma_storage: